@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;

}

body{
    /* background-color: #00acdf; */
    display: flex;
    justify-content: center;
    /* background: linear-gradient(to right, 
    #ccf9ff ,
    #7ce8ff ,	
    #55d0ff ,	
    #00acdf ,	
    #0080bf);  */
    background: url('sky.png') ;
}

/* form{
    background-color: red; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    width: 400px;
} */


form input{
    /* background-color: aqua; */
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 200px;
    margin: 20px;
    padding: 8px;

}

button{
    /* background-color: darkmagenta; */
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.data{
    background-color: yellow;
    margin: 20px;

}

.container{
    /* background-color: fuchsia; */
    border-radius: 12px;
    height: 350px;
    width: 500px;
    margin-top: 20vh;
    border: 2px solid white;
    border: 2px solid rgba(255, 255,255, .3);
    background: transparent;
    backdrop-filter: blur(30px);
}

.cloud-sun{
    height: 100px;
    width: 100px;
}

.icon-form{
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
}